# Data Preprocessing

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing Dataset

In [2]:
dataset =pd.read_csv('water_data.csv',encoding='unicode_escape')
dataset

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
1986,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU,NAN,7.9,738,7.2,2.7,0.518,0.518,202,2003
1987,1450,"PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...",TAMILNADU,29,7.5,585,6.3,2.6,0.155,0.155,315,2003
1988,1403,"GUMTI AT U/S SOUTH TRIPURA,TRIPURA",TRIPUR,28,7.6,98,6.2,1.2,NAN,NAN,570,2003
1989,1404,"GUMTI AT D/S SOUTH TRIPURA, TRIPURA",TRIPUR,28,7.7,91,6.5,1.3,NAN,NAN,562,2003
1990,1726,"CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA",TRIPUR,29,7.6,110,5.7,1.1,NAN,NAN,546,2003

## Data Visualization and Missing Values

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
STATION CODE                        1991 non-null object
LOCATIONS                           1991 non-null object
STATE                               1991 non-null object
Temp                                1991 non-null object
D.O. (mg/l)                         1991 non-null object
PH                                  1991 non-null object
CONDUCTIVITY (µmhos/cm)             1991 non-null object
B.O.D. (mg/l)                       1991 non-null object
NITRATENAN N+ NITRITENANN (mg/l)    1991 non-null object
FECAL COLIFORM (MPN/100ml)          1991 non-null object
TOTAL COLIFORM (MPN/100ml)Mean      1991 non-null object
year                                1991 non-null int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

#### Convert to numeric

In [4]:
dataset.iloc[:,3:]=dataset.iloc[:,2:].applymap(lambda x: pd.to_numeric(x,errors= "coerce"))
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
STATION CODE                        1991 non-null object
LOCATIONS                           1991 non-null object
STATE                               1991 non-null object
Temp                                1899 non-null float64
D.O. (mg/l)                         1960 non-null float64
PH                                  1983 non-null float64
CONDUCTIVITY (µmhos/cm)             1966 non-null float64
B.O.D. (mg/l)                       1948 non-null float64
NITRATENAN N+ NITRITENANN (mg/l)    1766 non-null float64
FECAL COLIFORM (MPN/100ml)          1675 non-null float64
TOTAL COLIFORM (MPN/100ml)Mean      1859 non-null float64
year                                1991 non-null int64
dtypes: float64(8), int64(1), object(3)
memory usage: 186.8+ KB

#### Drop Columns

In [5]:
dataset.drop(['STATION CODE',"LOCATIONS"],axis=1,inplace=True)
dataset

,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,DAMAN & DIU,30.6,6.7,7.5,203.0,NaN,0.100,11.000,27.0,2014
1,GOA,29.8,5.7,7.2,189.0,2.0,0.200,4953.000,8391.0,2014
2,GOA,29.5,6.3,6.9,179.0,1.7,0.100,3243.000,5330.0,2014
3,GOA,29.7,5.8,6.9,64.0,3.8,0.500,5382.000,8443.0,2014
4,GOA,29.5,5.8,7.3,83.0,1.9,0.400,3428.000,5500.0,2014
...,...,...,...,...,...,...,...,...,...,...
1986,TAMILNADU,NaN,7.9,738.0,7.2,2.7,0.518,0.518,202.0,2003
1987,TAMILNADU,29.0,7.5,585.0,6.3,2.6,0.155,0.155,315.0,2003
1988,TRIPUR,28.0,7.6,98.0,6.2,1.2,NaN,NaN,570.0,2003
1989,TRIPUR,28.0,7.7,91.0,6.5,1.3,NaN,NaN,562.0,2003
1990,TRIPUR,29.0,7.6,110.0,5.7,1.1,NaN,NaN,546.0,2003

#### Check for Null Values

In [6]:
print(dataset.isnull().any())
dataset['STATE'].value_counts()

STATE                               False
Temp                                 True
D.O. (mg/l)                          True
PH                                   True
CONDUCTIVITY (µmhos/cm)              True
B.O.D. (mg/l)                        True
NITRATENAN N+ NITRITENANN (mg/l)     True
FECAL COLIFORM (MPN/100ml)           True
TOTAL COLIFORM (MPN/100ml)Mean       True
year                                False
dtype: bool

KERALA                                                            413
NAN                                                               301
MAHARASHTRA                                                       177
GOA                                                               147
MEGHALAYA                                                         146
                                                                 ...
TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU                             1
DAMANGANGA D/S OF M/S SURAT BEVERAGES, VILLAGE DADRA, SILVASSA      1
Vansdhara MUNIGUDA (D/S OF M/S VEDANTAALUMINA PROJECT)              1
R NEELASWARAM AT NAMBIARKAL DAM                                     1
RIVER MAPUSA ON CULVERT ON HIGHWAY MAPUSANANPANAJI                  1
Name: STATE, Length: 204, dtype: int64

#### Correcting STATE Column

In [7]:
s=dataset["STATE"]
dataset["STATE"]=s.apply(lambda x: str(x.split(' ')[-1]))
dataset

,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,DIU,30.6,6.7,7.5,203.0,NaN,0.100,11.000,27.0,2014
1,GOA,29.8,5.7,7.2,189.0,2.0,0.200,4953.000,8391.0,2014
2,GOA,29.5,6.3,6.9,179.0,1.7,0.100,3243.000,5330.0,2014
3,GOA,29.7,5.8,6.9,64.0,3.8,0.500,5382.000,8443.0,2014
4,GOA,29.5,5.8,7.3,83.0,1.9,0.400,3428.000,5500.0,2014
...,...,...,...,...,...,...,...,...,...,...
1986,TAMILNADU,NaN,7.9,738.0,7.2,2.7,0.518,0.518,202.0,2003
1987,TAMILNADU,29.0,7.5,585.0,6.3,2.6,0.155,0.155,315.0,2003
1988,TRIPUR,28.0,7.6,98.0,6.2,1.2,NaN,NaN,570.0,2003
1989,TRIPUR,28.0,7.7,91.0,6.5,1.3,NaN,NaN,562.0,2003
1990,TRIPUR,29.0,7.6,110.0,5.7,1.1,NaN,NaN,546.0,2003

#### Removing Outliners, Improper data and NAN

In [8]:
a=dataset['STATE'].value_counts()
state_name=a.index[:19].tolist()
state_name.remove("NAN")
dataset=dataset[dataset["STATE"].isin(state_name)]
dataset.describe()

,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
count,1510.000000,1571.000000,1583.000000,1576.000000,1561.000000,1423.000000,1.355000e+03,1.512000e+03,1586.000000
mean,26.031875,6.420398,136.273431,1675.082697,5.702625,1.539651,4.468351e+05,6.509900e+05,2010.371375
std,3.457578,1.320542,2102.017785,5246.581097,23.457600,2.901344,9.743640e+06,1.578114e+07,3.232159
min,10.000000,0.000000,0.000000,0.400000,0.100000,0.000000,0.000000e+00,0.000000e+00,2003.000000
25%,24.000000,5.900000,6.968500,76.000000,1.200000,0.236500,2.500000e+01,9.100000e+01,2008.000000
50%,27.000000,6.700000,7.300000,170.000000,1.830000,0.540000,2.110000e+02,4.525000e+02,2012.000000
75%,28.300000,7.200000,7.700000,516.000000,3.600000,1.580000,1.084500e+03,2.011000e+03,2013.000000
max,35.000000,11.400000,67115.000000,48500.000000,513.500000,25.710000,2.725216e+08,5.110909e+08,2014.000000

In [9]:
#outliners

#### Fill NaN

In [10]:
#fill na

#### Organize Dataset

In [11]:
dataset=dataset
aa=dataset.groupby(by=["STATE","year"],sort=True,as_index=True).mean()
aa

                   Temp  D.O. (mg/l)        PH  CONDUCTIVITY (µmhos/cm)  \
STATE   year
DIU     2010  29.962500     5.625000  7.625000             13969.500000
        2011  29.100000     6.700000  7.700000               218.000000
        2012  31.000000     7.100000  7.800000               151.000000
        2013        NaN          NaN  0.000000               208.000000
        2014  30.600000     6.700000  7.500000               203.000000
...                 ...          ...       ...                      ...
TRIPURA 2009  28.500000     6.000000  7.700000               167.000000
        2011  28.500000     6.500000  7.900000               169.666667
        2012  27.666667     6.500000  7.933333               162.666667
        2013  25.600000     6.633333  7.733333               171.666667
        2014  27.666667     6.400000  7.833333               177.666667

              B.O.D. (mg/l)  NITRATENAN N+ NITRITENANN (mg/l)  \
STATE   year
DIU     2010      20.000000                            10.890
        2011       5.000000                             1.310
        2012       8.000000                             0.080
        2013            NaN                               NaN
        2014            NaN                             0.100
...                     ...                               ...
TRIPURA 2009       3.100000                             0.150
        2011       3.200000                             0.550
        2012       3.233333                             0.745
        2013       3.400000                             0.850
        2014       3.466667                             0.800

              FECAL COLIFORM (MPN/100ml)  TOTAL COLIFORM (MPN/100ml)Mean
STATE   year
DIU     2010                   90.750000                      119.666667
        2011                         NaN                             NaN
        2012                         NaN                             NaN
        2013                         NaN                             NaN
        2014                   11.000000                       27.000000
...                                  ...                             ...
TRIPURA 2009                  455.500000                      592.500000
        2011                  338.000000                      505.333333
        2012                  422.666667                      482.666667
        2013                  378.333333                      473.333333
        2014                  416.666667                      470.666667

[148 rows x 8 columns]