# Data Preprocessing

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importing Dataset

In [2]:
dataset =pd.read_csv('water_data.csv',encoding='unicode_escape')
dataset

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
1986,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",TAMILNADU,NAN,7.9,738,7.2,2.7,0.518,0.518,202,2003
1987,1450,"PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...",TAMILNADU,29,7.5,585,6.3,2.6,0.155,0.155,315,2003
1988,1403,"GUMTI AT U/S SOUTH TRIPURA,TRIPURA",TRIPUR,28,7.6,98,6.2,1.2,NAN,NAN,570,2003
1989,1404,"GUMTI AT D/S SOUTH TRIPURA, TRIPURA",TRIPUR,28,7.7,91,6.5,1.3,NAN,NAN,562,2003
1990,1726,"CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA",TRIPUR,29,7.6,110,5.7,1.1,NAN,NAN,546,2003

In [3]:
dataset.drop(['STATION CODE','LOCATIONS'],axis=1,inplace=True)
dataset

,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014
...,...,...,...,...,...,...,...,...,...,...
1986,TAMILNADU,NAN,7.9,738,7.2,2.7,0.518,0.518,202,2003
1987,TAMILNADU,29,7.5,585,6.3,2.6,0.155,0.155,315,2003
1988,TRIPUR,28,7.6,98,6.2,1.2,NAN,NAN,570,2003
1989,TRIPUR,28,7.7,91,6.5,1.3,NAN,NAN,562,2003
1990,TRIPUR,29,7.6,110,5.7,1.1,NAN,NAN,546,2003

In [4]:
#dataset["STATE"]= dataset["STATE"].apply(lambda x: "" if x=="NAN" else x)

In [5]:
#dataset["STATE"]

In [6]:
dataset.isnull().any()

STATE                               False
Temp                                False
D.O. (mg/l)                         False
PH                                  False
CONDUCTIVITY (µmhos/cm)             False
B.O.D. (mg/l)                       False
NITRATENAN N+ NITRITENANN (mg/l)    False
FECAL COLIFORM (MPN/100ml)          False
TOTAL COLIFORM (MPN/100ml)Mean      False
year                                False
dtype: bool

In [7]:
dataset['STATE'].value_counts()

KERALA                                                                      413
NAN                                                                         301
MAHARASHTRA                                                                 177
GOA                                                                         147
MEGHALAYA                                                                   146
                                                                           ...
R KADAMBAYAR AT BRAHMAPURAM                                                   1
GHAGGAR BEFORE OTTU WEIR (BEFORE MIXING OF SATLUJ CANAL WATER) (HARYANA)      1
IRIL LILONG, MANIPUR                                                          1
ULHAS AT U/S OF BADLAPUR, MAHARASHTRA                                         1
BHADAR D/S JETPUR VILL. AFTER CONF. OF W.WATER FROM JETPUR CITY,GUJARAT       1
Name: STATE, Length: 205, dtype: int64

In [8]:
s=dataset["STATE"]
dataset["STATE"]=s.apply(lambda x: x.split(' ')[-1])

dataset

,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014
...,...,...,...,...,...,...,...,...,...,...
1986,TAMILNADU,NAN,7.9,738,7.2,2.7,0.518,0.518,202,2003
1987,TAMILNADU,29,7.5,585,6.3,2.6,0.155,0.155,315,2003
1988,TRIPUR,28,7.6,98,6.2,1.2,NAN,NAN,570,2003
1989,TRIPUR,28,7.7,91,6.5,1.3,NAN,NAN,562,2003
1990,TRIPUR,29,7.6,110,5.7,1.1,NAN,NAN,546,2003

In [9]:
dataset['STATE'].value_counts()

KERALA          441
NAN             301
MAHARASHTRA     184
GOA             156
MEGHALAYA       150
               ...
WORKS.            1
HIGHWAY           1
NELLIMUKAL        1
ROAD,HARYANA      1
WIER,GUJARAT      1
Name: STATE, Length: 97, dtype: int64

converting value columns from string to int

In [10]:
dataset.dtypes

STATE                               object
Temp                                object
D.O. (mg/l)                         object
PH                                  object
CONDUCTIVITY (µmhos/cm)             object
B.O.D. (mg/l)                       object
NITRATENAN N+ NITRITENANN (mg/l)    object
FECAL COLIFORM (MPN/100ml)          object
TOTAL COLIFORM (MPN/100ml)Mean      object
year                                 int64
dtype: object

In [11]:
dataset['Temp']=pd.to_numeric(dataset['Temp'],errors='coerce')
dataset['Temp']

0       30.6
1       29.8
2       29.5
3       29.7
4       29.5
        ...
1986     NaN
1987    29.0
1988    28.0
1989    28.0
1990    29.0
Name: Temp, Length: 1991, dtype: float64

In [12]:
dataset['D.O. (mg/l)']=pd.to_numeric(dataset['D.O. (mg/l)'],errors='coerce')
dataset['D.O. (mg/l)']

0       6.7
1       5.7
2       6.3
3       5.8
4       5.8
       ...
1986    7.9
1987    7.5
1988    7.6
1989    7.7
1990    7.6
Name: D.O. (mg/l), Length: 1991, dtype: float64

In [13]:
dataset['PH']=pd.to_numeric(dataset['PH'],errors='coerce')
dataset['PH']

0         7.5
1         7.2
2         6.9
3         6.9
4         7.3
        ...
1986    738.0
1987    585.0
1988     98.0
1989     91.0
1990    110.0
Name: PH, Length: 1991, dtype: float64

In [14]:
dataset['CONDUCTIVITY (µmhos/cm)']=pd.to_numeric(dataset['CONDUCTIVITY (µmhos/cm)'],errors='coerce')
dataset['CONDUCTIVITY (µmhos/cm)']

0       203.0
1       189.0
2       179.0
3        64.0
4        83.0
        ...
1986      7.2
1987      6.3
1988      6.2
1989      6.5
1990      5.7
Name: CONDUCTIVITY (µmhos/cm), Length: 1991, dtype: float64

In [15]:
dataset['B.O.D. (mg/l)']=pd.to_numeric(dataset['B.O.D. (mg/l)'],errors='coerce')
dataset['B.O.D. (mg/l)']

0       NaN
1       2.0
2       1.7
3       3.8
4       1.9
       ...
1986    2.7
1987    2.6
1988    1.2
1989    1.3
1990    1.1
Name: B.O.D. (mg/l), Length: 1991, dtype: float64

In [16]:
dataset['NITRATENAN N+ NITRITENANN (mg/l)']=pd.to_numeric(dataset['NITRATENAN N+ NITRITENANN (mg/l)'],errors='coerce')
dataset['NITRATENAN N+ NITRITENANN (mg/l)']

0       0.100
1       0.200
2       0.100
3       0.500
4       0.400
        ...
1986    0.518
1987    0.155
1988      NaN
1989      NaN
1990      NaN
Name: NITRATENAN N+ NITRITENANN (mg/l), Length: 1991, dtype: float64

In [17]:
dataset['FECAL COLIFORM (MPN/100ml)']=pd.to_numeric(dataset['FECAL COLIFORM (MPN/100ml)'],errors='coerce')
dataset['FECAL COLIFORM (MPN/100ml)']

0         11.000
1       4953.000
2       3243.000
3       5382.000
4       3428.000
          ...
1986       0.518
1987       0.155
1988         NaN
1989         NaN
1990         NaN
Name: FECAL COLIFORM (MPN/100ml), Length: 1991, dtype: float64

In [18]:
dataset['TOTAL COLIFORM (MPN/100ml)Mean']=pd.to_numeric(dataset['TOTAL COLIFORM (MPN/100ml)Mean'],errors='coerce')
dataset['TOTAL COLIFORM (MPN/100ml)Mean']

0         27.0
1       8391.0
2       5330.0
3       8443.0
4       5500.0
         ...
1986     202.0
1987     315.0
1988     570.0
1989     562.0
1990     546.0
Name: TOTAL COLIFORM (MPN/100ml)Mean, Length: 1991, dtype: float64

In [19]:
dataset['STATE'] = (dataset['STATE'].astype('str'))
dataset['STATE']

0             DIU
1             GOA
2             GOA
3             GOA
4             GOA
          ...
1986    TAMILNADU
1987    TAMILNADU
1988       TRIPUR
1989       TRIPUR
1990       TRIPUR
Name: STATE, Length: 1991, dtype: object

In [20]:
dataset.dtypes

STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)    float64
FECAL COLIFORM (MPN/100ml)          float64
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [21]:
dataset.isnull().any()

STATE                               False
Temp                                 True
D.O. (mg/l)                          True
PH                                   True
CONDUCTIVITY (µmhos/cm)              True
B.O.D. (mg/l)                        True
NITRATENAN N+ NITRITENANN (mg/l)     True
FECAL COLIFORM (MPN/100ml)           True
TOTAL COLIFORM (MPN/100ml)Mean       True
year                                False
dtype: bool

# Taking care of missing values

In [22]:
dataset['Temp']=dataset['Temp'].replace(np.NaN,dataset['Temp'].mean)

In [23]:
dataset['Temp'].isnull().any()

False